@import '~antd/dist/antd.css';
@import url(https://fonts.googleapis.com/css?family=Sacramento);

html {
  overflow: auto;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.app {
  min-height: 100vh;
  position: relative;
  background: #fff;
}

.app__affix-header {
  z-index: 99;
}
